#all {
	margin: 20px;
	padding: 20px;
	background-color: #eee;
	border: #999 1px solid;
	font-family: "microsoft yahei";
	overflow: auto;
	min-width: 600px;
}

#left,
#main {
	padding: 20px;
	background-color: #fff;
}

#left {
	float: left;
	width: 160px;
}

#left img {
	border: 1px solid #999;
	float: left;
}

#left h1 {
	float: right;
	margin-top: 0px;
	/*消除<h1>元素上边距*/
	font-size: 12px;
}

#right {
	width: 120px;
	float: right;
	background-color: #fff;
	border: 1px solid #999;
}

#right img {
	display: block;
	margin: 20px;
	border: 1px solid #999;
}

#main {
	margin-left: 220px;
	margin-right: 140px;
}

#main p:first-child {
	margin-top: 0px;
	/*消除<p>元素上边距*/
}

#main p:last-child {
	margin-bottom: 0px;
	/*消除<p>元素下边距*/
}